/* share font */
.poppins-thin{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* universal code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    max-width: 1440px;
    margin: 0 auto;
}
/* header section start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2{
font-size: 24px;
color: #3a3a3a;
justify-content: left;
}
nav ul{
list-style: none;
display: flex;
justify-content: right;
}
nav ul li{
margin-right: 20px;
padding: 10px;
color:#3a3a3a ;
}
nav ul li a:hover{
color: black;
background-color: honeydew;
}
nav ul li a{
text-decoration: none;
color: #3a3a3a;
}
.h-h2{
    margin: 50px 400px 40px 0;
    padding: 10px;
    color: #3a3a3a;
}
/* header section end */
main{
    max-width: 1920px;
}
/* banner section start */
.banner-img{
    width: 50%;
    margin: 50px 0 0 100px;
    background-image: url(influencer-gear-main/Group\ 33091.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-1{
    color: aliceblue;
    background-color: #e02c6d;
    border-radius: 35px;
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 10px;
}
.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.banner-text{
    width: 50%;
    margin: 100px 150px 0 150px;
}
.banner-img{
    width: 50%;
    margin: 30px 40px 0 50px;
}
.b-h1{
    font-size: 50px;
    font-weight: 700;
    color: #3a3a3a;
}
.b-p{
font-size: 20px;
margin: 20px 0 20px;
color: #6b6b6b;
}
/* banner section end */
/* media section start */
.m-div{
    margin-top: 200px;
    color: #3a3a3a;
}
.logo{
    align-items: center;
    text-align: center;
    margin-top: 100px;
    border: 1px solid rgba(202,194,194,0.535);
    border-left: none;
    border-right: none;
    width: 80%;
    margin: 0 auto;
}
.logo-img{
    padding: 15px;
}
/* media section end */
/* popular collection section start */
.container-2{
    margin-top: 100px;
    background-color: #f3f4f6;
}
.col-h2{
    text-align: center;
    margin: 150px 0 30px 0;
    font-size: 30px;
}
.col-img{
    padding: 5px;
    box-shadow: #3a3a3a;
    box-shadow: rgba(0 0 0 0.24) 0px 3px 8px;
    padding: 10px;
}
.dollar{
    font-size: 20px;
    font-weight: 600;
}
.ratting{
    color: #ffa500;
    font-size: 10px;
}
.rate{
    color: #3a3a3a;
    font-size: 18px;
}
.products{
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    margin: 20px 0px 20px 0px;
    padding: 10px 10px;
    gap: 3rem;
    border-radius: .8rem;
    color: #3a3a3a;
}
/* .products :hover{
    transform: scale(0.9);
} */
.more-last{
    color: white;
    margin-top: 30px;
    margin-left: 1150px;
    background-color: #e02c6d;
}
/* popular collection section end */
/* featured products section start */
.fea-pro{
  /* width: 1110px;height: 300;
  margin: 10px 100px 10px 100px;
  margin: 0 15px; */
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.fea-img{
    border-radius: 20px;
    margin: 100px 20px 20px 300px;
}
.fea-h2{
    font-size: 30px;
    margin: 50px 100px 0 0;
    margin-bottom: 10px;
}
.fea-p{
    font-size: 15px;
    color: #3a3a3a;
    margin: 0 80px 0 0;
}
.fea-text{
    margin-left: 100px;
    margin-top: 60px;
}
.btn-2{
    color: aliceblue;
    background-color: #e02c6d;
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 20px;
}
/* featured products section end */
/* footer section start */
.footer{
    background-color: #050a30;
    margin: 150px 0 0 0;
    padding: 100px;
}
.foot-h2{
    text-align: center;
    color: #ffffff;
}
.foot-p1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 13px;
    padding: 10px;
    color: #f5f5f5;
}
.foot-p2{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 13px;
    padding: 7px;
    color: #f5f5f5;
}
.foot-icon{
    color: hwb(0 96% 4%);
    text-align:center ;
    margin-top: 10px;
    margin-right: 20px;
    gap: 50px;
    font-size: 25px;
}
/* footer section start */